@font-face {
	font-family: 'Prima Sans';
	src: url('fonts/Prima_Sans.ttf');
}
@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/Prima_Sans.ttf');
}
/* Begin animation */
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	25% {
		opacity: 0;
		transform: scale(1.4);
		-webkit-transform: scale(1.4);
	}
	100% {
		opacity: 1;
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
.animate {
	display: block;
	/* z-index: -10; */

	/*opacity: 0;*/
	animation: fadeIn 1s;
	animation-fill-mode: forwards;

	-webkit-animation: fadeIn 1s;
	-webkit-animation-fill-mode: forwards;
}
.delay0 {
	animation-delay: -.5s;
	-webkit-animation-delay: -0.5s;
}
.delay1 {
	animation-delay: -0.4s;
	-webkit-animation-delay: -0.4s;
}
.delay2 {
	animation-delay: -0.3s;
	-webkit-animation-delay: -0.3s;
}
.delay3 {
	animation-delay: -0.2s;
	-webkit-animation-delay: -0.2s;
}
.delay4 {
	animation-delay: -0.1s;
	-webkit-animation-delay: -0.1s;
}
.delay5 {
	animation-delay: 0.0s;
	-webkit-animation-delay: 0.0s;
}

/* End of animation */

body {
	font-family: 'Prima Sans', 'Arial', sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #ffffff;
	margin: 0px;
	padding: 32px;
	box-sizing: border-box;
	/* width: 100%; */
}

#debug {
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	padding: 20px;
}

h1 {
	font-size: 36px;
	font-weight: bold;

	text-transform: uppercase;
	color: #737d87;
	margin-left: 40px;
}

.additional {
}

/*
.augenglueck_logo_big {
	z-index: 10;
	font-size: 24px;
	font-weight: normal;

	color: #000000;
	transform-origin: 0% 50%;
	transform: scale(1.4,1);
	-webkit-transform-origin: 0% 50%;
	-webkit-transform: scale(1.4,1);

	overflow: hidden;
	background-color: rgba(255,255,255, .95);
	position: fixed;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	padding-left: 240px;
	padding-top: 8px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 64px;

}
.augenglueck_logo_big .augen {
	color: #a5a5a5;
	font-weight: normal;
}
.augenglueck_logo_big .glueck {
	font-weight: bold;
}
*/
.augenglueck_logo {
	height: 64px;

	/*
	background-color: rgba(255,255,255, .95);
	box-shadow: 0px 0px 20px rgba(0,0,0,.1);
	*/
}
.augenglueck_logo img {
	margin-top: 5px;
	height: 24px;
}


#content {
	margin-top: 5px;
}
.content_page, .pdf {
	/* border: 2px solid red; */
	display: block;
	width: 100%;
	box-sizing: border-box;
	/* overflow: hidden; */
	margin-top: 0;
}
.content_page img {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	width: 100%;
	max-height: 82vh;
	/* height: 100%; */
	/* height: 640px; */
}

.disabled {
	visibility: collapse;
}

/*
.pdf {
	width: 100%;
	height: 600px;
}
*/

input.ng-invalid, select.ng-invalid, textarea.ng-invalid {
    border-color: #c00;
    background-color:#ffc1c1;
}

.extras {
	/* position:fixed;
	bottom: 0px;
	left: 0px; */
	/* right: 0px; */
	/*width: 20%;
	/* overflow: scroll; */
	/*z-index: 15;
	/*border:2px solid #d9d9d9;
	background: white;
	padding: 16px;
	opacity: .95;
	box-shadow: 0px 0px 10px rgba(0,0,0, .5);*/
}

.calculation {
	/* display: none;

	position:fixed;
	bottom: 0px;
	right: 0px;
	width: 33%;
	z-index: 200;
	border: 2px solid #d9d9d9;
	background: white;
	padding: 16px;
	opacity: .95;
	box-shadow: 0px 0px 10px rgba(0,0,0, .5); */
}

@media print
{
    .no-print, .no-print *
    {
		display: none !important;
	}

	.print
	{
		display: block !important;
	}
}

.print{
	display: none;
}

span.augenglueck {
	color: #ffffff;
	font-size: 10px;
}

.extras table th,
.extras table td,
.calculation table th,
.calculation table td {
	text-align: left;
	vertical-align: top;
	padding: 8px;
}

.extras table td.calculate_price,
.calculation table td.calculate_price {
	text-align: right;
}
.calculation table .calculate_final th,
.calculation table .calculate_final td {
	border-top: 1px solid #000000;
	font-style: bold;
}


/*
@keyframes blink {
	0%, 100% {
		box-shadow: 0px 0px 20px 10px yellow;
		transform: scale(1.2);
	}
	50% {
		box-shadow: 0px 0px 0px 0px yellow;
		transform: scale(.9);
	}
}
*/
@keyframes blink {
	0%, 100% {
		background-color: rgba(185,185,185, 0.75);
	}
	50% {
		background-color: rgba(185,185,185, .5);
	}
}

.table table.prices td.action {
	/*
	display: inline-block;
	width: 90%;
	*/
	/*position: absolute;*/
	/* border: 4px solid #595959; */
	/*border: 4px solid #ffffff;*/
	/*box-shadow: 0px 0px 5px 5px rgba(255,255,255, .8);*/
	animation: blink 2s infinite;
	z-index: 400;
}


#nav
{
	/* container */
	/*font-family: 'Prima Sans', 'Arial', sans-serif;*/
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	z-index: 20;
}
	#nav > a
	{
		display: none;
		font-size: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}
	#nav li
	{
		position: relative;
		padding-bottom: 8px;
	}

	/* first level */
	#nav > #nav_content ul
	{
		height: 3.75em;
	}
		#nav > #nav_content ul >li
		{
			width: 25%;
			height: 100%;
			float: left;
		}

	/* second level */
	#nav li ul
	{
		display: none;
		position: absolute;
		top: 100%;
	}
		#nav li:hover ul
		{
			display: block;
		}


/*
@media only screen and ( max-width: 40em )
{
*/
	#nav
	{
		position: fixed;
		top: 0px;
		left: 0px;
	}
		#nav > a
		{
		}
		#nav:not( :target ) > a:first-of-type,
		#nav:target > a:last-of-type
		{
			display: block;
		}

	#nav > #nav_content {
		margin: 0px;
		padding: 16px;
		padding-top: 72px;
		padding-bottom: 32px;
		z-index: -2;

		/* display: none; */
		opacity: 0;
		position: absolute;
		height: auto;
		left: -240px;
		right: 0;
		/* background-color: #e46c0b; */
		background-color: rgba(228, 108, 11, .95);
		box-shadow: 0px 0px 20px rgba(0,0,0, .5);
		overflow: hidden;
		-webkit-transition: all 0.3s;
		        transition: all 0.3s;
	}
	#nav:target > #nav_content {
		display: block;
		opacity: 1;
		left: 0;

		width: 240px;
	}

	/* first level */
 	#nav > #nav_content ul
	{
		height: auto;
	}
		#nav ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		#nav:target > #nav_content ul
		{
		}
		#nav > #nav_content ul > li
		{
			width: 100%;
			float: none;

		}

		#nav > #nav_content ul > li a {
			text-decoration: none;
			color: #ffffff;
		}
		#nav > #nav_content ul > li a:target,
		#nav > #nav_content ul > li a:hover {
			color: #000000;
		}

	/* second level */
 	#nav li ul
	{
		position: static;
	}
/*
}
*/


#nav_additional {
	margin-top: 32px;
}
#nav button {
	border: 2px solid #a5a5a5;
	padding: 5px;
	background: #a5a5a5;
	font-family: 'Prima Sans', 'Arial', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 8px;
}

#nav_content_list ul {
	margin-bottom: 16px;
}

@keyframes blink_text {
	0%, 100% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.25;
	}
}

#nav ul.nav_content_actions {
	border: 1px solid #ffffff;
	border-left: none;
	border-right: none;
	padding-top: 4px;
}

.nav_content_actions li:before{

	content: 'Aktion';

	color: #000000;
	font-size: 12px;
	padding-right: 16px;
	animation: blink_text 2s infinite;
}


/* -----------------------------------------------------------------------------
  HAMBURGER ICONS COMPONENT

----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger-bg {
	position: absolute;
	z-index: -1;
}
.c-hamburger-shim {
	position: absolute;
	z-index: 1;
	display: block;
	width: 64px;
	height: 64px;
}

.c-hamburger {
  background-color: #e46c0b;

  display: block;
  /*position: absolute;*/
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;

  font-size: 0;
  text-indent: -9999px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 28px;
  left: 12px;
  right: 14px;
  height: 6px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -15px;
}

.c-hamburger span::after {
  bottom: -15px;
}
/*
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide down to center and transform into an "x".
 */
.c-hamburger--htx {
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
#nav:target > .c-hamburger--htx,
.c-hamburger--htx.is-active {
  /*background-color: #cb0032;*/
}

#nav:target > .c-hamburger--htx span,
.c-hamburger--htx.is-active span {
  background: none;
}

#nav:target > .c-hamburger--htx span::before,
.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:target > .c-hamburger--htx span::after,
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav:target > .c-hamburger--htx span::before,
#nav:target > .c-hamburger--htx span::after,
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
