<div ng-controller="adminController" ng-swipe-left="nextStep('pricingTableAdministration')" style="min-height: 80vh;">
    <div class="row">
        <div class="col-sm-12">
                <h1>Administration</h1>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-sm-7 fa-border">-->
            <!--<h3>Termine</h3>-->
            <!--<table class="table">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Uhrzeit</th>-->
                        <!--<th>Vorname</th>-->
                        <!--<th>Name</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr ng-repeat="customer in customers">-->
                        <!--<td>{{customer.time}}</td>-->
                        <!--<td>{{customer.firstname}}</td>-->
                        <!--<td>{{customer.lastname}}</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="col-sm-5">-->
        <!--</div>-->
    <!--</div>-->
</div>