<div ng-controller="customerEyeCalculationController" ng-swipe-left="nextStep('fieldOfUse')" ng-swipe-right="previousStep('home')"
    style="min-height: 80vh;">
    <div class="row">
        <div class="col-sm-12">
            <h1>Ihre Augen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Stammdaten</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="firstName">Vorname</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Max" value="Max" ng-required="true">
                </div>
                <div class="form-group col-sm-6">
                    <label for="lastName">Nachname</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Mustermann" value="Mustermann" ng-required="true">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" value="Max.Mustermann@example.com" ng-required="true">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Refraktion (Augenglasbestimmung)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-0"></th>
                        <th class="col-sm-2 text-center">Sph.</th>
                        <th class="col-sm-2 text-center">Cyl.</th>
                        <th class="col-sm-2 text-center">Achse</th>
                        <th class="col-sm-2 text-center">Add.</th>
                        <th class="col-sm-2 text-center">VCC</th>
                        <th class="col-sm-2 text-center">VCC Binokular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding-top: 14px;">
                            <b>R</b>
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[0].sph" step="0.25" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[0].cyl" step="0.25" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[0].achse" step="1" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[0].add" step="0.1" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[0].vcc" step="0.1" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[0].vcc_binokular" step="0.1" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 14px;">
                            <b>L</b>
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[1].sph" step="0.25" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[1].cyl" step="0.25" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[1].achse" step="1" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[1].add" step="0.1" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[1].vcc" step="0.1" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-center" ng-model="refraction[1].vcc_binokular" step="0.1" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Wo liegt ihr Sehproblem?</h3>
        </div>
    </div>
    <div class="row col-lg-10 col-sm-10">
        <div class="col-sm-2">
            <div class="checkbox checkbox-primary checkbox-lg">
                <input id="ferne" type="checkbox" ng-model="$root.ferne">
                <label style="padding-left: 8px; font-size: 16px;" for="ferne">Ferne</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox checkbox-primary checkbox-lg">
                <input id="naehe" type="checkbox" ng-model="$root.naehe">
                <label style="padding-left: 8px; font-size: 16px;" for="naehe">Nähe</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox checkbox-primary checkbox-lg">
                <input id="computer" type="checkbox" ng-model="$root.computer">
                <label style="padding-left: 8px; font-size: 16px;" for="computer">Computer</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox checkbox-primary checkbox-lg">
                <input id="sport" type="checkbox" ng-model="$root.sport">
                <label style="padding-left: 8px; font-size: 16px;" for="sport">Sport</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox checkbox-primary checkbox-lg">
                <input id="hobby" type="checkbox" ng-model="$root.hobby">
                <label style="padding-left: 8px; font-size: 16px;" for="hobby">Hobby</label>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
            <div class="col-sm-12">
                <div class="btn-group">
                    <button style="width:110px" type="button" class="btn btn-default" ng-click="previousStep('home')">Abbrechen</button>
                    <button style="width:110px" type="submit" class="btn btn-primary" ng-disabled="customerInformationForm.$invalid" ng-click="nextStep('fieldOfUse')">Speichern</button>
                </div>
            </div>
        </div>
</div>