<div data-ng-controller="homeController">
    <a name="start" title="Start" class="static_content"></a>
    <div class="content_page">
        <img style="margin-top:-4em" src="media/augenglueck.static.page0.svg" ng-click="goToPriceTable()"/>
        <div class="row" style="margin-top: 10px">
            <div style="position: absolute; left:calc(50vw - 282px);">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-default" style="width:250px; font-size:22px" ng-click="nextStep('customerAdministration')">Brille abholen</button>
                    <button type="button" class="btn btn-default" style="width:250px; font-size:22px" ng-click="nextStep('customerEyeCalculation')">Neue Brille</button>
                </div>
            </div>
        </div>
    </div>
</div>