<div data-ng-controller="mdrVideoController" ng-swipe-left="removeBackground(); nextStep('priceSelection')" ng-swipe-right="removeBackground(); previousStep('coating')" id="video-container">
    <a name="start" title="Start" class="static_content"></a>
    <div>
        <div class="content_page">
            <video style="margin-top:4em; width: 94vw; z-index:1500; position: relative;" src="optoVision_Mittendickenreduktion.mp4" controls type="video/mp4" ng-click="videoControl()">
                    Ihr Browser kann dieses Video nicht wiedergeben.<br/>
                    Dieses Video zeigt eine Demonstration der Mittendickenreduktion.
            </video>
        </div>
    </div>
</div>